<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar usuarios</title>
    <link rel="stylesheet" href="../css/rrhh.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="search">
        <input
          id="search"
          type="text"
          placeholder="Buscar por nombre y apellido, o Workday ID"
        />
      </div>
    </nav>
    <div id="resultados">
      <!-- Aca van los resultados de los usuarios -->
    </div>
    <div id="copiadoCartel" class="copiado-cartel">Copiado</div>
    <script src="../js/rrhh-app.js"></script>
  </body>
</html>
